body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(155deg, #e99d23, #44361e)
}

h3{
    padding: 6px;
    
}
img{
    width: 7%
}
.ree{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: flex;       
    align-items: center; 
    gap: 20px;
}

.card{
    width: 500px;
    background-color: #e8a63c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}
