body{
    background-color: coral;
    text-align: left;
}
h1{
    text-align: center;
}
h3{
    padding: 6px;
}
img{
    width: 7%
}
.ree{
    display: flex;       
    align-items: center; 
    gap: 20px;
}